*{
    margin: 0;
}

/* section-1  */
.section-one{
   background-image: url("../new-year-new-me-main/images/banner/banner2.png");
   background-size: cover;
   

}
.one-container{
    text-align: right;
    padding: 280px 250px 150px 1200px;
}
.one-title{
    font-size: 70px;
    margin-bottom: 30px;
}
.one-description{
    font-size: 20px;
    margin-bottom: 40px;
    color: #444343;
}
.btn-primary{
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    background-color: #F15B22;
}